name: Dependabot Automerge (self-run)

on:
  pull_request:

permissions: {}

jobs:
  dependabot-automerge:
    name: Dependabot Automerge
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          update-type: minor
