name: Dependabot Automerge (self-run)

on:
  pull_request:

permissions: {}

jobs:
  dependabot-automerge:
    name: Dependabot Automerge

    permissions:
      contents: write       # Set the PR for auto-merge
      pull-requests: write  # Set the PR for auto-merge

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          update-type: minor
